/*
Theme Name: Intensive russian
Author: DStaroselskiy (it.star.varvar@gmail.com)
Author URI: https://plus.google.com/u/0/110295925295050770002/posts
Version: 0.1
Created on : 21.01.2017, 18:04:05
*/
 
$icon-font-path: "../fonts/bootstrap/";
//@import 'bootstrap-sprockets'; 
//@import 'bootstrap'; //Bootstrap v3.3.7
$fonts_dir:  "../fonts";
$images_dir:  "../images";

@import 'bootstrap'; 
@import 'theme/reset'; 
@import 'jQuery-ui-selectmenu/jquery-ui'; 
@import 'jQuery-ui-selectmenu/jquery-ui.theme'; 
@import 'FontAwesome/font-awesome'; 
@import 'theme/fonts'; 
@import 'theme/header'; 
@import 'theme/content';  
@import 'theme/adaptation';  
